{
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": ["off", { "allow": ["history"] }],
    "react/jsx-fragments": "off",
    "no-console": ["error", { "allow": ["error"] }]
  }
}