{
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off"
  }
}