body {
    background-color:#1f2d40;
    color:#f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.menu {
    background-color:#0e1823;
}
.menu h1 {
    display:inline-block;
    background: url('../img/logo-tc.png') no-repeat;
    width:80px;
    height:80px;
    text-indent:-999em;
}
.banner {
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
}